{% extends 'base.html' %}

{% block content %}

<a href="{% url 'todolist:add_todo' %}">
  <div class="btn btn-secondary mb-3">
    Add new todo
  </div>
</a>
{% if todo_items_list %}
  <ul class="list-group">
  {% for todo in todo_items_list %}
    <li class="list-group-item">
      <h5 class="h5">{{ todo.todo_text }}</h5>
      <p>{{ todo.pub_date }}</p>
      <a href="{% url 'todolist:show_todo' todo.id %}">
        <div class="btn btn-primary btn-sm">Details</div>
      </a>
      <a href="{% url 'todolist:delete_todo' todo.id %}">
        <div class="btn btn-danger btn-sm float-right">Delete</div>
      </a>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No todos available</p>
{% endif %}

{% endblock %}